.app {
    font-family: 'Barlow', sans-serif;
    padding: 2rem;
}

.formContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title {
    text-align: center;
}

.inputsContainer {
    min-height: 280px;
  }